_Source/*
*.aux
*.bbl
*.blg
*.d
*.fls
*.ilg
*.ind
*.toc*
*.lot*
*.lof*
*.log
*.idx
*.out*
*.nlo
*.nls
*.bak
*.swp
thesis.pdf
thesis.ps
thesis.dvi
thesis-log.txt
.Rhistory
.Rproj.user
*.glg
*.glo
*.gls
*.glsdefs
*.ist
Rplots.pdf
.snakemake
